{% extends 'layouts/layout.njk' %}

{% block content %}
  {% include "partials/card-detail/1-showcase.njk" %}
  {% include "partials/card-detail/2-card-review.njk" %}
  {% include "partials/card-detail/3-red-dots-info.njk" %}
  {% include "partials/card-detail/4-red-dots-info-gray.njk" %}
  {% include "partials/card-detail/5-lounge-invites.njk" %}
  {% include "partials/card-detail/6-card-apply.njk" %}
  {% include "partials/card-detail/7-platinum-earn-rate.njk" %}
  {% include "partials/card-detail/8-platinum-mastercard-detail.njk" %}
  {% include "partials/card-detail/9-eligible.njk" %}
  {% include "partials/card-detail/10-discounted.njk" %}
  {% include "partials/card-detail/11-travel-insurance.njk" %}
  {% include "partials/card-detail/12-concierge.njk" %}
  {% include "partials/card-detail/13-premier-platinum.njk" %}
  {% include "partials/card-detail/14-flyer-points.njk" %}
  {% include "partials/card-detail/15-qantas-points.njk" %}
  {% include "partials/card-detail/16-melbourne.njk" %}
  {% include "partials/card-detail/17-business-class.njk" %}
  {% include "partials/card-detail/18-sydney.njk" %}
  {% include "partials/card-detail/19-singapore.njk" %}
  {% include "partials/card-detail/20-card-rate.njk" %}
{% endblock %}
