{% extends 'layouts/layout.njk' %}

{% block content %}
  {% include "partials/card-listing/1-showcase.njk" %}
  {% include "partials/card-listing/2-filter-cards.njk" %}
  {% include "partials/card-listing/3-disclaimer.njk" %}
{% endblock %}
