{% extends 'layouts/layout.njk' %}

{% block content %}
  {% include "partials/coupon/1-showcase.njk" %}
  {% include "partials/coupon/2-discount.njk" %}
  {% include "partials/coupon/3-content.njk" %}
{% endblock %}