{% extends 'layouts/layout.njk' %}

{% block content %}
  {% include "partials/hotel-detail/1-showcase.njk" %}
  {% include "partials/hotel-detail/2-content.njk" %}
  {% include "global/related-box.njk" %}
{% endblock %}
