{% extends 'layouts/layout.njk' %}

{% block content %}
  {% include "partials/home/1-showcase.njk" %}
  {% include "partials/home/2-card-slider.njk" %}
  {% include "partials/home/3-started.njk" %}
  {% include "partials/home/4-about.njk" %}
  {% include "partials/home/5-as-seen.njk" %}
  {% include "partials/home/6-deals.njk" %}
  {% include "partials/home/7-reviews.njk" %}
  {% include "partials/home/8-videos.njk" %}
{% endblock %}
