{% extends 'layouts/layout.njk' %}

{% block content %}
  {% include "partials/lounge-detail/1-showcase.njk" %}
  {% include "partials/lounge-detail/2-content.njk" %}
  {% include "global/related-box.njk" %}
{% endblock %}
