{% extends 'layouts/layout.njk' %}

{% block content %}
  {% include "partials/news-detail/1-showcase.njk" %}
  {% include "partials/news-detail/2-content.njk" %}
  {% include "partials/news-detail/3-author.njk" %}
  {% include "partials/news-detail/4-related-posts.njk" %}
{% endblock %}
