<section class="section">
  <div class="section__inner container max-width-sm margin-bottom-xxxl">
    <div class="card-showcase text-component text-md font-nunito">
      <p>
        Haven’t heard of voco yet? Say a big hello to the newest brand from IHG (InterContinental Hotels Group). The yellow, characterful, bold brand is making big waves in Australia and is already seeing impressive expansion into new communities across the globe.
      </p>
      <p>
        The voco brand premiered its entry with the first-ever hotel opening on the Gold Coast in November 2018. A second property soon followed in the iconic Hunter Valley in April, aptly named voco Kirkton Park Hunter Valley.
      </p>
      <p>
        IHG is building a seriously cool third voco hotel from scratch in the Sydney CBD (which looks like a winner!) set to open in 2021, while Melbourne Central is slated for 2020 and Yarra Valley also in 2021.
      </p>

      <img src="/img/objects/news-post/post-1.jpg" alt="post-img" class="width-100%">

      <p>
        Filled with playful character and community, the voco brand offers a fresh take on the traditional hotel model and is more in line with its Hotel Indigo brand, which I love!
      </p>

      <img src="/img/objects/news-post/post-2.jpg" alt="post-img" class="width-100%">

      <p>
        If you haven’t read my previous post about the Free Night stay campaign IHG is offering on voco and selected Crowne Plaza hotels, you can do so here. Basically, when you book 2 nights, you get a free night = win!
      </p>

      <p>
        Since voco is a brand-new hotel concept, I thought I’d give you a quick overview of the Australian voco properties – let’s go!
      </p>

      <p>
        Firstly, what exactly is voco? Inspired by the Latin meaning to ‘invite’ or ‘come together,’ voco combines the informality and charm of individual hotels, with the quality and reassurance of a global and respected brand. The result? Fun, unstuffy hotels with plenty of charisma.
      </p>
      
      <h3 class="font-weight-bold text-lg">Voco hotel Gold Coast</h3>

      <img src="/img/objects/news-post/post-3.jpg" alt="post-img" class="width-100%">

      <p>
        voco Gold Coast is the first entry into the market, celebrating its first birthday in November. The hotel has a retro/contemporary vibe (that’s a good thing!) and is surprisingly affordable, making it perfect for a Gold Coast weekend away. The hotel is within minutes’ walk of the beach, and the centre of Surfers Paradise is also a short walk away. 
      </p>

      <img src="/img/objects/news-post/post-4.jpg" alt="post-img" class="width-100%">

      <p>
        A convenient tram stop outside can take you anywhere you fancy!
      </p>

      <img src="/img/objects/news-post/post-5.jpg" alt="post-img" class="width-100%">

      <p>
        A multi-million-dollar refurbishment saw all of its 389 guestrooms undergo a stylish update, alongside a vibrant makeover of the hotel’s expansive lobby.
      </p>

      <img src="/img/objects/news-post/post-6.jpg" alt="post-img" class="width-100%">

      <p>
        The hotel has multiple pools and a day spa in case treating yourself is a top priority (it should be!).
      </p>

      <p>
        The hotel features three distinct dining destinations too. Guests can enjoy steaks and seafood at Clifford’s Grill & Lounge or go for something a bit more casual at Social House with a range of light dining options, impressive wine, café and entertainment in the evenings.
      </p>

      <img src="/img/objects/news-post/post-7.jpg" alt="post-img" class="width-100%">

      <p>
        voco hotel Hunter Valley
      </p>

      <img src="/img/objects/news-post/post-8.jpg" alt="post-img" class="width-100%">

      <p>
        voco Kirkton Park Hunter Valley is a country-style estate set on 70 hectares of beautiful Hunter Valley countryside with views of the Brokenback Ranges in the background. The intimate 70 room property (yes, that’s an acre per room!) is well regarded for its stunning scenery and opened up as Australia’s second voco hotel in April 2019 after a refresh of its rooms and public spaces.
      </p>

      <img src="/img/objects/news-post/post-9.jpg" alt="post-img" class="width-100%">

      <p>
        the homestead hotel offers access to a golf course, swimming pool (the adults pool is at Crowne Plaza, not voco) and direct access to the fantastic Hunter Valley vineyards.
      </p>

      <img src="/img/objects/news-post/post-10.jpg" alt="post-img" class="width-100%">

      <p>
        The beautifully renovated rooms come in a variety of sizes and are reasonably priced (even for a suite). No expense has been spared when it comes to dining excellence! The hotel recently launched its Long Table Lunch series on the lawn for a lazy Sunday indulgence, while its iconic high tea in the sun-filled Conservatory offers guests an array of local produce and wines in a relaxed garden setting. Of course, some rooms also enjoy private balconies from where you can watch the beautiful countryside over a glass of wine. 
      </p>

      <img src="/img/objects/news-post/post-11.jpg" alt="post-img" class="width-100%">

      <p>
        Eco-travellers can rest easy with the brand’s commitment to ‘tread lightly’ – a catchphrase it takes seriously thanks to a range of initiatives to sustain responsible tourism. Interactive vege gardens and beehives produce honey and various produce that is used by the restaurants, large format Aveda amenities support the reduction of plastics, Smartdown bedding in the guest rooms is made from 100% recycled materials and tree-planting is in place to reduce the footprint from meeting & events.
      </p>

      <h3 class="font-weight-bold text-lg">voco in conclusion</h3>

      <p>
        It’s great to see another upscale IHG brand enter the market. I appreciate hotels that focus on quality over quantity; especially at this price level. voco is an excellent concept that aims to bring both reliability and fun at a great price.
      </p>

      <p>
        Right now and up until 15 December 2019, you can get a free night stay when you complete a 2-night stay at the voco hotels (and selected Crowne Plaza hotels) in Australia. To learn more about this deal, click here or check out our post here.
      </p>

      <p>
        Full disclosure: this post was produced in proud partnership with IHG Australia.
      </p>

    </div>
  </div>
</section>