{% import "macros/content.njk" as marco1 %}

{% set post = {
  category: 'LOUNGE REVIEW',
  title: 'Qantas First Class Lounge Singapore Review',
  social: [
    {
      url: '',
      icon: '/img/objects/fb.svg'
    },
    {
      url: '',
      icon: '/img/objects/insta.svg'
    },
    {
      url: '',
      icon: '/img/objects/tw.svg'
    }
  ],
  authorInfo: {
    name: 'Immanuel Debeer',
    date: '24/10/2019'
  }
} %}

{% set rightContent = {
  thumbnail: {
    mobile: '/img/objects/thumb-mobile.svg',
    desktop: '/img/objects/lounge-banner.jpg'
  }
} %}

<section class="section position-relative margin-bottom-xxxl">
  <div class="grid grid-gap-x-md">
    <div class="col-12 col-7@md bg-default rounded-bottom-xxl min-height-650@md" data-theme="gray"></div>
    <div class="col-12 col-4@md"></div>
  </div>

  <div class="section__inner container position-absolute@md position-center@md">
    <div class="grid grid-gap-md">
      <div class="col-12 col-7@md padding-right-lg@md to-animate" data-animate="left">
        <h1 class="font-weight-bold text-xxxxl margin-bottom-md">Aunt betty promo code</h1>
        <p class="font-weight-bold text-md margin-bottom-xs">
          At Flight Hacks we’re always on the looking for the latest and working Aunt Betty coupon codes so you can travel better for less.
        </p>
        <p class="text-sm">
          Aunt Betty is one of the few OTA (online travel agents) who are based in Australia and offers a fantastic online search engine to search and compare flights, hotels, car rentals and travel packages. They are owned by Flight Centre, so you know you’re dealing with a reputable company. <br>
          Of course, we all want a great deal on our next adventure, so getting an extra discount with an Aunt Betty promo code on that flight to paradise is exactly what we’re looking for.
        </p>
      </div>

      <div class="col-12 col-5@md position-relative d-flex align-items-center justify-content-end to-animate display@md" data-animate="right">
        <img src="/img/objects/header-logo.png" alt="thumb">
      </div>
    </div>
  </div>

  <img class="hide@md d-block margin-x-auto padding-y-xl" src="/img/objects/header-logo.png" alt="thumb">
</section>