:root {
  -webkit-tap-highlight-color: transparent;
}

#app {
  position: relative;
  overflow: hidden;
}

#layout {
  opacity: 0;
  transition: all 0.6s;
  transition-delay: 0.3s;
}

#page--loading-overlay {
  position: fixed;
  overflow: hidden;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 100%;
  height: 0;
  background-color: var(--color-contrast-lower);
  // background-color: transparent;
  z-index: 110;

  .loaded & {
    z-index: -1;
  }
}

#loader {
  pointer-events: none;
  position: absolute;
  top: 50vh;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.4s;
  // z-index: -1;

  .loaded & {
    opacity: 0;
  }
}

@include breakpoint(md) {
  .page {
    margin-top: 0;
  }
}

img {
  max-width: 100%;
}

// video {
//   max-width: unset !important;
// }

// a:hover {
//   text-decoration: none !important;
// }
