// --------------------------------

// (START) Global Editor code https://codyhouse.co/ds/globals/colors

// --------------------------------
:root{
  --btn-font-size: 1em;
  --btn-font-size-sm: 0.8em;
  --btn-font-size-md: 1.2em;
  --btn-font-size-lg: 1.4em;
  --btn-padding-x: var(--space-xl);
  --btn-padding-y: var(--space-sm);
  --btn-radius: var(--radius-md);
}

.btn {
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: var(--btn-padding-y) var(--btn-padding-x);
  white-space: nowrap;
  // color: var(--color-white);
  font-family: var(--font-sf-pro-text);
  font-size: var(--text-sm);
  font-weight: 700;
  // text-transform: uppercase;
  text-decoration: none !important;
  outline: none;
  text-transform: uppercase;
  // border: 2px solid var(--color-primary);
  border-radius: var(--btn-radius);
  // background-color: var(--color-primary);
  // box-shadow: 0 4px 16px 0 alpha(var(--color-black), 0.15);
  transition: all 0.3s ease;

  @include fontSmooth;

  // &:hover {
  //   cursor: pointer;
  //   color: var(--color-white);
  //   background-color: alpha(var(--color-primary), 0.9);
  //   // border: 2px solid alpha(var(--color-primary), 0.9);
  //   box-shadow: 0 4px 20px alpha(var(--color-black), 0.15);
  // }
}


// themes
.btn--primary {
  background-color: var(--color-primary);
  color: var(--color-white);
  @include fontSmooth;
  box-shadow: 5px 10px 20px  alpha(var(--color-primary), 0.16);

  &:hover {
    background-color: var(--color-primary-dark);
    color: var(--color-white);
  }
}

.btn--subtle {
  background-color: var(--color-contrast-low);
  // color: var(--color-contrast-higher);
  color: var(--color-text-lighter);
}

.btn--accent {
  background-color: var(--color-accent);
  color: var(--color-white);
  @include fontSmooth;
}

// feedback
.btn--disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

// size
.btn--sm {
}

.btn--md {
}

.btn--lg {
}

// --------------------------------

// (END) Global Editor Code

// --------------------------------

// =====================
// CUSTOM
// =====================
[data-theme="accent"] .btn {
  color: var(--color-bg);

  &.btn--accent {
    color: var(--color-primary);

    &:hover {
      color: var(--color-bg);
    }
  }
}

// .btn + .btn {
//   margin-right: var(--space-sm);
// }

.btn:not(:last-child) {
  margin-right: var(--space-sm);
}

.btn--icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  width: 48px;
  height: 48px;
  // border: 1px solid var(--color-contrast-lower);

  &.btn--lg {
    width: 72px;
    height: 72px;
  }

  &.btn--sm {
    padding: 2%;
    width: 24px;
    height: 24px;
  }

  &.btn--disabled {
    filter: grayscale(1);
  }

  &.btn--adaptive {
    @include breakpoint(md, 'not all') {
      padding: var(--space-xs);
      width: auto;
      height: auto;
    }
  }
}

.btn--outline {
  border: 1px solid var(--color-primary);

  &.btn--disabled {
    border-color: var(--color-contrast-low);
  }
}

.btn--accent.btn--outline {
  background-color: transparent;
  border-color: var(--color-contrast-low);

  > .btn__iconLabel .icon {
    color: var(--color-primary);
  }
}

.btn--wide.btn--icon {
  display: flex;
  justify-content: space-between;
}

.btn.reset:focus {
  outline: none;
}


// size
.btn--wide {
  width: 100%;
}

// .btn--sm {}

.btn--md {
  --btn-padding-x: var(--space-lg);
}

.btn--lg {
  @include breakpoint(md) {
    width: 200px;
  }
}

.btn--accent.btn--outline {
  background-color: transparent;
  border-color: var(--color-contrast-low);

  > .btn__iconLabel .icon {
    color: var(--color-primary);
  }
}

.btn--wide.btn--icon {
  display: flex;
  justify-content: space-between;
}

.btn.reset:focus {
  outline: none;
}

.btn--outline {
  border: 1px solid var(--color-primary);

  &.btn--disabled {
    border-color: var(--color-contrast-low);
  }
}