<section class="section">
  <div class="section__inner container">
    <h1 class="font-weight-bold text-xxxxl margin-bottom-md">About us</h1>

    <div class="grid grid-gap-md">
      <div class="col-12 col-6@md order-first@md to-animate" data-animate="left">
        <div class="card-showcase text-component">
          <p class="font-weight-bold text-md">
            Hi, my name is Immanuel and welcome to 
            <span class="text-color-primary">Flight Hacks!</span>
          </p>
          <p class="text-md">
            Originally from Belgium, I love to travel, especially in business or first class at a fraction of the retail price. On Flight Hacks you will be able to read my trip reports, hotel and credit card reviews.
          </p>
          <p class="text-md">
            Some would say I’m obsessed with my “hobby”… truth be told, they are probably right! I hope you will be able to learn something on this humble blog of mine or at least get inspired to travel more (preferably in luxury).
          </p>
          <p class="text-md">
            If you have a question about frequent flyer points, credit cards or booking award flights, feel free to send me a message via the contact page and I will do my best to help you out!
          </p>
          <p class="text-md">
            In the meantime, feel free to join me on Instagram, Facebook and Twitter!
          </p>
        </div>
      </div>

      <div class="col-12 col-6@md order-first to-animate" data-animate="right">
        <img src="/img/objects/about-banner.png" alt="about-img">
      </div>
    </div>
  </div>
</section>