<section class="section section--instagram bg-default overflow-unset margin-bottom-xxxl" data-theme="gray">
  <div class="section__inner container padding-y-xxxl">
    <div class="grid grid-gap-md">
      <div class="col-12 col-6@md position-relative z-index-1 to-animate" data-animate="left">
        <div class="instagram-wrapper width-100%">
          <img src="/img/objects/cta-dots-1.png" alt="decor" class="position-absolute top-0 left-n-xl z-index-n-1 display@md">

          {% include "global/instagram.njk" %}
        </div>
      </div>

      <div class="col-12 col-6@md instagram-info position-relative to-animate" data-animate="right">
        <div class="card-showcase text-component margin-bottom-lg">
          <img src="/img/objects/card-dots.png" alt="decor" class="position-absolute top-n-lg left-n-xxxxl z-index-n-1 display@md">

          <h2 class="font-weight-bold text-xxl margin-top-0">How you can support this site?</h2>
          <p class="text-sm">
            When you decide to sign up for a credit card promotion, take advantage of a great hotel deal or book a flight through this site, I earn a small commission which helps keep this site up and running. I’m extremely grateful for all the readers that have decided to use my links. If you’re new to Flight Hacks and thinking about signing up for a promotion, I’d like to say thank you in advance! Please note, there’s no extra cost to you for using any of my links.
          </p>
        </div>

        <div class="card-showcase text-component">
          <h2 class="font-weight-bold text-xxl">Discount Codes for Flights?</h2>
          <p class="text-sm">
            We’re constantly on the lookout for discount codes to reduce the cost of travel, you can check out our selection of codes here: <span class="text-color-primary">
              <a href="" class="text-underline"> Virgin Promo Codes</a>,
              <a href="" class="text-underline"> Qatar Airways Promo Codes</a>,
              <a href="" class="text-underline"> Emirates Promo Codes</a> </span>
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
