<section class="section">
  <div class="section__inner container margin-bottom-xxxxl">
    <div class="grid grid-gap-md">
      <div class="col-12 col-6@md to-animate" data-animate="left">
        <h1 class="font-weight-bold text-xxxxl margin-bottom-md">Frequent flyer credit card deals</h1>
        <div class="card-showcase text-component">
          <p class="text-sm">At Flight Hacks, we aim to find the best frequent flyer credit card deals in Australia. All cards listed here are worth considering if you’re looking for a great way to earn frequent flyer points in your favourite reward program fast.</p>
          <p class="text-sm">We will only list the best offers for American Express, Visa & MasterCard. You won’t find any low cost, low-interest credit cards here; simply because they are not worth your time!  It’s our goal to give a comprehensive review of each card to get you flying business or first class in no time!</p>
          <p class="text-sm">When you click on our links, apply and get approved for one of the cards listed on this page, we may receive a small referral bonus (advertising fee) from our partners. This is at no extra cost to you. We appreciate your support, thank you!</p>
        </div>
      </div>

      <div class="col-12 col-6@md to-animate" data-animate="right">
        <picture>
          <source media="(min-width: 768px)" srcset="/img/objects/card-banner.png">
          <img class="d-block margin-x-auto" src="/img/objects/card-banner-mb.png" alt="card-banner">
        </picture>
      </div>
    </div>
  </div>
</section>
