<section class="section bg-default overflow-unset" data-theme="gray">
  <div class="section__inner container padding-bottom-xxxl">
    <float-center-img>
      <template #image>
        <div js-negative-mt-half>
          <img src="/img/objects/exam-dots-9.png" alt="exam-img">
        </div>
      </template>

      <div class="col-12 col-6@md">
        <h2 class="font-weight-bold text-xxl">Sydney to Singapore In First Class With Qantas For 102,600 Points</h2> 
      </div>

      <div class="col-12 col-6@md">
        <div class="card-showcase text-component">
          <p class="text-sm">
            Enjoy the ultimate Qantas experience: first class in the A380 to Singapore. If you’re lucky, you will be able to sample their refurbished seats on board the jumbo jet to Asia. What’s it going to cost? Not as much as you think! Qantas first class from Sydney to Singapore will set you back 102,600 Qantas Points one way. 
          </p>
          <p class="text-sm">
            Make sure to arrive early for your flight so you can book a complimentary massage at the lounge spa and enjoy the excellent food and beverage selection. (Read our full Qantas First Class lounge review here)
          </p>
        </div>
      </div>
    </float-center-img>
  </div>
</section>
