<section id="card-review" class="section position-relative bg-default overflow-unset" data-theme="gray">
  <img src="/img/objects/img-dots-shape.png" alt="dots" class="position-absolute top-n-xl right-n-md display@lg">
  <img src="/img/objects/dots-shape-right.png" alt="dots" class="position-absolute top-md left-sm display@lg">

  <div class="section__inner container padding-y-xxxl">
    <p class="font-weight-bold text-xxl margin-bottom-md red-dot red-dot--center red-dot--hide@md padding-left-lg@md text-uppercase position-relative to-animate" data-animate="up">
      Qantas Premier Credit Card Review
    </p>
    <div class="card-showcase text-component to-animate" data-animate="up" data-delay="0.2">
      <p class="text-sm ">
        The Qantas Premier Platinum Mastercard is one of the best points-earning cards on the market and with good reason. Right now you can get up to 120,000 bonus Qantas Points, and in the first year you also get a discounted annual fee of $199. This offer is available to new cardholders who apply online before February 26, 2020.
      </p>
      <p class="text-sm ">
        To sweeten the deal, new applicants who are approved will also receive 2 Qantas Club lounge passes per year and a $50 Qantas Wine discount which can be redeemed at the Qantas Wine store on orders of $150 or more (look out for wine specials with bonus Qantas points!). 
      </p>
      <a href="" class="font-weight-bold text-color-primary text-uppercase text-underline">READMORE</a>
    </div>
  </div>
</section>