<div data-theme="dark" class="section overflow-visible bg-default">
  <div class="row justify-content-between padding-y-md">
    <div class="col-5@lg to-animate" data-animate="left">
      <div class="padding-y-xl height-100% padding-x-container padding-right-0@lg">
        <div class="pack pack--middle height-100%">
          <div class="pack__item">
            <div class="text-component margin-bottom-md">
              <h2 class="margin-bottom-md">Ready to Apply?</h2>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris auctor sed nulla non vulputate. Vestibulum tincidunt urna.</p>
            </div>

            <a href="#external-link" target="_blank" class="btn btn--lg max-width-300 max-width-unset@md width-100% btn--primary padding-x-md font-weight-bold justify-content-between">
              Apply now
              <img src="/img/icons/ic-right-white.svg" alt="ic">
            </a>
          </div>
        </div>
      </div>
    </div>

    <div class="col-6@lg text-right to-animate" data-animate="right">
      <img src="/img/objects/card-group.png" alt="decor" style="max-height: 670px;">
    </div>
  </div>
</div>