/////////////////////////
//
// Utilities
//
// - Set very specific rules classes
//
/////////////////////////

/////////////////////////

// Elements
@each $breakpoint in map-keys($breakpoints) {
  $infix: breakpoint-infix($breakpoint, $breakpoints);

  @include breakpoint($breakpoint) {
    .overflow-hidden#{$infix} { overflow: hidden !important; }

    .shadow-all#{$infix} { box-shadow: var(--shadow-md) !important; }

    .min-height-650#{$infix} {
      min-height: 650px;
    }

    .text-rated-xxxl#{$infix} {
      span {
        font-size: var(--text-xxxl) !important;
      }
    }


    .text-rated-xl#{$infix} {
      span {
        font-size: var(--text-xl) !important;
      }
    }
  }
}

@each $breakpoint in map-keys($breakpoints) {
  $infix: breakpoint-infix($breakpoint, $breakpoints);

  @include breakpoint($breakpoint) {
    .top-#{$infix} { overflow: hidden !important; }
  }
}
.overflow-visible { overflow: visible !important; }
.overflow-auto { overflow: auto !important; }
.vertical-middle { vertical-align: middle !important; }

.clearfix { clear: both !important; }

// Animate
.to-animate {
  opacity: 0;
}

[data-animate="image"] {
  position: relative;
  overflow: hidden;

  > .image-overlay {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 100%;
    height: 200%;
    background-color: var(--color-bg);
    z-index: 1;

    &::after {
      content: '';
      width: 100%;
      height: 50%;
      background-color: var(--color-primary);
      // background-color: alpha(var(--color-primary-lighter), 0.5);
    }
  }
}

.line {
  position: relative;
  // overflow: hidden;
}

.animate-draw,
.animate-drawline {
  stroke: alpha-hsl(var(--color-text), 0.5);
  stroke-miterlimit: 5;

  path {
    opacity: 0;
  }

  &.animated path {
    opacity: 1;
    fill-opacity: 0;
    stroke-dasharray: 1500;
    stroke-dashoffset: 1500;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
  }
}

.animate-draw.animated path {
  animation-name: draw-line, fade-stroke, fill-in;
  animation-duration: 3s, 1s, 1s;
  animation-delay: 0s, 1s, 1s;
}

.animate-drawline.animated path {
  animation-name: draw-line;
  animation-duration: 3s;
  animation-delay: 0s;
}

// Shadow
// .shadow-top { box-shadow: 0 -15px 15px -15px var(--shadow-md) !important; }
// .shadow-right { box-shadow: 15px 0 15px -15px var(--shadow-md) !important; }
// .shadow-bottom { box-shadow: 0 15px 15px -15px var(--shadow-md) !important; }
// .shadow-left { box-shadow: -15px 0 15px -15px var(--shadow-md) !important; }

// Images
.filter-gray { filter: grayscale(100%) !important; }

.order-top {
  position: relative;
  z-index: 2 !important;
}

hr {
  border: 0.5px solid var(--color-contrast-lower);

  [data-theme="accent"] & {
    border-color: var(--color-contrast-low);
  }
}

.absolute-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.object-fit-cover {
  object-fit: cover !important;
}

.featured-heading {
  color: var(--color-accent);

  > span {
    color: var(--color-primary);
  }
}

.icon {
  fill: currentColor;
}

.list--contact {
  list-style: none;

  li {
    position: relative;
    padding-left: var(--space-md);

    > img {
      position: absolute;
      top: calc(1em * var(--body-line-height) / 2);
      left: 0;
      transform: translateY(-50%);
    }
  }
}

.text-dot::after {
  content: '';
  display: block;
  width: 5px;
  height: 5px;
  background: #DFE0E4;
  border-radius: 50%;
  margin: 0 5px 3px;
}

.float-left {
  float: left;
}

.bg-none {
  background: none !important;
}

.shadow-none {
  box-shadow: none !important;
}

.border-width-2 {
  border-width: 2px !important;
}

.box-post-shadow {
  box-shadow: 5px 10px 30px rgba(0, 0, 0, 0.1);
}

.red-dot {
  font-family: var(--font-sf-pro-text);
  
  &:before {
    content: "";
    position: absolute;
    top: var(--space-xxs);
    left: 0;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    border: 5px solid var(--color-primary);
    font-size: var(--text-md);
  }

  &.red-dot--center:before {
    top: 50%;
    transform: translateY(-50%);
  }

  &.red-dot--relative:before {
    display: block;
    position: relative;
    top: unset;
    left: unset;
  }

  &.red-dot--hide\@md:before {
    @include breakpoint(md, 'not all') {
      display: none;
    }
  }
}

.red-dot-text-spacing {
  width: calc(100% - 30px);
}

.overflow-unset {
  overflow: unset !important;
}

.input-wrapper {
  .input-format {
    border: none;
    background: #F4F4F4;
    color: rgba(0, 0, 0, 0.301847);
    font-size: var(--text-sm);
    padding: var(--space-sm);
    border-radius: var(--radius-sm);
    flex: 1;
  }

  a {
    @include breakpoint(md) {
      max-width: 76px;
      flex: 1;
    }
  }
}

.flex-nowrap {
  flex-wrap: nowrap !important;
}


.text-rated-md {
  span {
    font-size: var(--text-md);
  }
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}