/////////////////////////
//
// OBJECTS.SECTION
// * section - A wrapper element and can be used to give space between other section. <br>
// It has by default an full-width, but for some case you can add fixed-with for example wide-screen at 1700px above. <br>
//
// * section__inner - A containing element to wrap elements inside a section. It has a fixed width and a half gutter to stack elements that placed with half gutter
//
// Markup:
// <div class="section">
//     <div class="section__inner section__inner--spaceTop-4x"></div>
// </div>
//
/////////////////////////

.section {
  position: relative;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
}

.section__inner {
  position: relative;
  // overflow: hidden;
  // max-width: var(--max-width-md);
  width: calc(100% - (2 * var(--component-padding)));
  margin-left: auto;
  margin-right: auto;

  &::after {
    content: "";
    display: block;
    clear: both;
  }
}

.section--topBg50::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50%;
  background-color: #fff;
  background-color: var(--color-white);
}

.section--100vh {
  > .section__inner {
    @include breakpoint(md) {
      height: 100vh;
    }
  }
}

.section__heading {
  display: flex;

  .section__heading--icon {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: var(--space-sm);
    width: 72px;
    height: 72px;
    border-radius: var(--radius-lg);
    background-color: alpha(var(--color-accent), 0.2);
  }

  h2 {
    margin: 0;
  }
}

.section__headingDefault {
  flex-direction: column;
  align-items: flex-start;

  .section__heading--icon { margin-bottom: var(--space-md); }
}

.section__headingCenter {
  flex-direction: column;
  align-items: center;
  text-align: center;

  .section__heading--icon { margin-bottom: var(--space-md); }
}

.section__headingInline {
  align-items: center;

  .section__heading--icon {
    @include breakpoint(md) {
      margin-right: var(--space-md);
    }
  }
}
