 :root {
	--f-header-height: 50px;
	--f-header-logo-width: 130px;

	@include breakpoint(md) {
		--f-header-height: 70px;
	}
}

.f-header {
	position: relative;
	// height: var(--f-header-height);
	z-index: var(--zindex-header);
}

.f-header__mobile-content {
	// logo + menu button on small devices
	position: relative;
	display: flex;
	height: 100%;
	justify-content: space-between;
	align-items: center;
	z-index: 2;
}

.f-header__logo {
	display: block;
	width: var(--f-header-logo-width);
	flex-shrink: 0;
	text-decoration: none;

	svg,
	img {
		display: block;
	}
}

.f-header__nav-control {
	// menu button
	--anim-menu-btn-size: 40px;
	// 🍔 icon
	--anim-menu-btn-icon-size: 28px;
	--anim-menu-btn-icon-stroke: 2px;
}

.f-header__nav {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	max-height: 100vh;
	overflow: auto;
	-webkit-overflow-scrolling: touch;
	overscroll-behavior: contain;
	padding: 0 0 var(--space-md);
	background-color: var(--color-bg);
	box-shadow: var(--shadow-md);
	font-size: var(--text-md); // edit font size of all nav elements
	z-index: 1;

	visibility: hidden;
	opacity: 0;
	transform: translateY(-1em);

	&::before {
		// top header bg + border
		content: "";
		display: block;
		position: sticky;
		top: 0;
		height: var(--f-header-height);
		background-color: inherit;
		border-bottom: 1px solid var(--color-contrast-lower);
	}
}

.f-header__nav--is-visible {
	visibility: visible;
	opacity: 1;
	transform: translateY(0);
	transition: visibility 0s, opacity 0.3s, transform 0.3s;
}

.f-header__nav-logo-wrapper {
	display: none; // hide logo nav on small devices
}

.f-header__item {
	flex-shrink: 0;
	border-bottom: 1px solid var(--color-contrast-lower);
}

// .f-header__dropdown-icon {
// 	display: none; // hide dropdown arrow on smaller screens
// }

.f-header__dropdown-icon {
	display: block;
	margin-left: var(--space-xxxxs);
	width: 10px;
	height: 10px;
	flex-shrink: 0;

	@include breakpoint(md, 'not all') {
		width: 16px;
		height: 16px;
	}
}

.f-header__link,
.f-header__dropdown-link {
	display: block;
	display: flex;
	align-items: center; // align icon with text
	color: var(--color-contrast-high);
	text-decoration: none;
	padding: var(--space-xs) 0;

	&[aria-current="page"] {
		@include breakpoint(md) {
			color: var(--color-text-lighter);
			opacity: 0.7;
		}
	}

	.icon {
		flex-shrink: 0;
	}
}

.f-header__link:hover {
	@include breakpoint(md) {
		color: var(--color-text-lighter);
		opacity: 0.7;
	}
}

.f-header__btn,
.f-header__form-control {
	width: 100%;
	margin: var(--space-xs) 0;
}

.f-header__dropdown {
	// sub navigation
	padding-left: var(--space-sm); // offset sub nav

	@include breakpoint(md, 'not all') {
		opacity: 0;
		max-height: 0;
		pointer-events: none;
	}
}

@include breakpoint(md) {
	.f-header__mobile-content {
		display: none; // hide logo + menu (mobile content)
	}

	.f-header__nav {
		// reset
		position: static;
		padding: 0;
		background-color: transparent;
		box-shadow: none;
		visibility: visible;
		opacity: 1;
		transform: translateY(0);
		transition: none;
		max-height: none;
		overflow: visible;
		overscroll-behavior: auto;

		// new style
		// height: var(--f-header-height);
		font-size: 0.875em; // edit font size of all nav elements

		&::before {
			// reset
			display: none;
		}
	}

	.f-header__nav-logo-wrapper {
		display: block; // fallback
		display: flex;
	}

	.f-header__nav-grid,
	.f-header__list {
		display: flex;
		align-items: center;
	}

	.f-header__nav-grid {
		height: 100%;
	}

	.f-header__item {
		display: inline-block; // fallback
		position: relative;
		border-bottom: none;
		margin-right: var(--space-xs); // margin between nav items

		&:last-child {
			margin-right: 0;
		}
	}

	

	.f-header__link {
		padding: var(--space-xxxs) var(--space-xxs);
	}

	.f-header__link--icon {
		span {
			display: none;
		}
	}

	.f-header__btn,
	.f-header__form-control {
		margin: 0; // reset
	}

	.f-header__dropdown {
		font-size: 1rem;
		position: absolute;
		top: 100%;
		width: 200px;
		left: calc(50% - 100px);
		padding: var(--space-xxxs) 0;
		background-color: var(--color-bg);
		border-radius: var(--radius-md);
		box-shadow: var(--shadow-md);
		z-index: var(--zindex-popover);

		// hide
		visibility: hidden;
		opacity: 0;
		transition: visibility 0.2s 0.2s, opacity 0.2s 0s;

		.f-header__item:hover & {
			visibility: visible;
			opacity: 1;
			transition: visibility 0.2s 0s, opacity 0.2s 0s;
		}
	}

	.f-header__dropdown-link {
		color: var(--color-contrast-high);
		padding: var(--space-xs) var(--space-sm);

		&:hover {
			background-color: var(--color-contrast-lower);
		}
	}
}

html:not(.js) {
	.f-header__nav-control {
		display: none;
	}

	.f-header__nav {
		position: static;
		padding: var(--space-xxs) 0 var(--space-md);
		box-shadow: none;
		visibility: visible;
		opacity: 1;
		transform: translateY(0);
	}
}


/* -------------------------------- 

File#: _1_anim-menu-btn
Title: Animated Menu Button
Descr: A menu button w/ a morphing icon
Usage: codyhouse.co/license

-------------------------------- */

:root {
  --anim-menu-btn-size: 48px;
  
  // 🍔 icon
  --anim-menu-btn-icon-size: 32px;
  --anim-menu-btn-icon-stroke: 2px;
}

.anim-menu-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: var(--anim-menu-btn-size);
  height: var(--anim-menu-btn-size);
  color: var(--color-contrast-high); // icon color
}

// icons
.anim-menu-btn__icon {
  position: relative;
  display: block;
  font-size: var(--anim-menu-btn-icon-size);
  width: 1em;
  height: var(--anim-menu-btn-icon-stroke);
  color: inherit;
  background-image: linear-gradient(currentColor, currentColor);
  background-repeat: no-repeat;
  transform: scale(1);
  
  &::before, &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-image: inherit;
    border-radius: inherit;
  }
}

// menu to 'X' close
.anim-menu-btn__icon--close {
  background-size: 100% 100%;
  will-change: transform, background-size;
  transition: transform .2s, background-size .2s;

  .anim-menu-btn:active & {
    transform: scale(0.9);
  }

  &::before, &::after {
    will-change: inherit;
    transition: inherit;
  }

  &::before { // line top
    transform: translateY(-0.25em) rotate(0);
  }

  &::after { // line bottom
    transform: translateY(0.25em) rotate(0);
  }
}

.anim-menu-btn--state-b {
  .anim-menu-btn__icon--close {
    background-size: 0% 100%;

    &::before {
      transform: translateY(0) rotate(45deg);
    }

    &::after {
      transform: translateY(0) rotate(-45deg);
    }
  }
}

// menu to arrow
.anim-menu-btn__icon--arrow-left,
.anim-menu-btn__icon--arrow-right,
.anim-menu-btn__icon--arrow-up,
.anim-menu-btn__icon--arrow-down {
  border-radius: 50em;
  will-change: transform;
  transition: transform .2s;

  .anim-menu-btn:active & {
    transform: scale(0.9);
  }

  &::before, &::after {
    transform-origin: calc(var(--anim-menu-btn-icon-stroke)/2) 50%;
    will-change: transform, width;
    transition: transform .2s, width .2s;
  }

  &::before { // line top
    transform: translateY(-0.25em) rotate(0);
  }

  &::after { // line bottom
    transform: translateY(0.25em) rotate(0);
  }
}

.anim-menu-btn__icon--arrow-right {
  transform: rotate(180deg);

  .anim-menu-btn:active & {
    transform: rotate(180deg) scale(0.9);
  }
}

.anim-menu-btn--state-b {
  .anim-menu-btn__icon--arrow-left,
  .anim-menu-btn__icon--arrow-right,
  .anim-menu-btn__icon--arrow-up,
  .anim-menu-btn__icon--arrow-down {
    &::before, &::after {
      width: 50%;
    }

    &::before {
      transform: translateY(0) rotate(-45deg);
    }

    &::after {
      transform: translateY(0) rotate(45deg);
    }
  }

  &:active .anim-menu-btn__icon--arrow-up {
    transform: rotate(90deg) scale(0.9);
  }

  .anim-menu-btn__icon--arrow-up {
    transform: rotate(90deg);
  }

  &:active .anim-menu-btn__icon--arrow-down {
    transform: rotate(-90deg) scale(0.9);
  }

  .anim-menu-btn__icon--arrow-down {
    transform: rotate(-90deg);
  }
}

/* -------------------------------- 

File#: _1_search-input
Title: Search input
Descr: Search input field with custom button
Usage: codyhouse.co/license

-------------------------------- */

:root {
  --search-input-btn-width: 2.8em;
  --search-input-icon-size: 1.25em;
}

.search-input {
  position: relative;

  .form-control::-webkit-search-decoration {
    -webkit-appearance: none;
  }
}

.search-input--icon-right .form-control {
  padding-right: var(--search-input-btn-width);
}

.search-input--icon-left .form-control {
  padding-left: var(--search-input-btn-width);
}

.search-input__btn {
  @include reset;
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: var(--search-input-btn-width);

  &:active .icon {
    transform: scale(0.9);
  }

  .icon {
    display: block;
    width: var(--search-input-icon-size);
    height: var(--search-input-icon-size);
    margin-left: auto;
    margin-right: auto;
    color: var(--color-contrast-low); // icon color
    transition: transform 0.2s;
  }
}

.search-input--icon-left .search-input__btn {
  left: 0;
  right: auto;
  pointer-events: none;
}

.search-input__btn:focus .icon,
.search-input .form-control:focus + .search-input__btn .icon {
  color: var(--color-primary); // active icon color
}