/* --------------------------------

Title: Card
Descr: Container of information used as teasers for further content, often displayed in a gallery of related items

-------------------------------- */

.card:not(.card--article),
.card.card--article .card__inner {
  position: relative;
  overflow: hidden;
  display: block;
  border-radius: var(--radius-lg);
  border: 1px solid var(--color-contrast-lower);
  background-color: var(--color-bg);
}

.card--unborderd {
  border: none;
}

.card--article {
  .card__inner {
    padding: 0;
    transition: all 0.3s;
  }

  &:hover .card__inner {
    box-shadow: var(--shadow-md);
    transform: translateY(calc(-1 * var(--space-md)));
  }
}

.card__inner {
  padding: var(--space-lg);

  @include breakpoint(md) {
    padding: var(--space-xl);
  }
}

.card__seperator {
  width: 100%;
  height: 1px;
  background: var(--color-accent);
  margin-bottom: var(--space-md);
}

.card__label {
  display: inline-block;
  background-color: var(--color-primary-lighter);
  padding: var(--space-xxxs) var(--space-xxs);
  border-radius: var(--radius-lg);

  > span {
    vertical-align: middle;
    font-weight: 600;
  }

  .icon {
    fill: var(--color-primary);
  }

  .icon + span {
    margin-left: var(--space-xxxxs);
  }
}

.card__img--moveTop {
  margin-top: var(--n-space-sm);
  margin-right: var(--n-space-sm);
  margin-left: var(--n-space-sm);
}

.card__img--no-jump { // prevent jump while img is loading
  position: relative;
  height: 0;
  padding-bottom: 67.5%; // image ratio -> height/width*100

  img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.card__content {
  padding: var(--space-md);
}

.card__contentDate {
  font-size: var(--text-sm);
  // color: var(--color-contrast-medium);
}

.card__contentDescription {
  position: relative;
  height: calc(var(--text-base-size) * 5); /* exactly 3 lines */
  overflow: hidden;

  &::after {
    content: "";
    text-align: center;
    position: absolute;
    bottom: -50%;
    right: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1) 50%);
  }

  p {
    font-size: var(--text-sm);
    color: var(--color-contrast-medium);
  }
}

.card__title {
  font-weight: 700;
}

.card__description {
  // font-size: var(--text-sm);
  line-height: 1.4;
  color: var(--color-contrast-medium);
}

.card--shadow {
  box-shadow: var(--shadow-lg);
}

// --link
.card--is-link {
  will-change: box-shadow;
  // transition: box-shadow var(--duration) var(--ease-in-out);
  transition: all var(--duration-fast) var(--ease-in-out);

  &:hover {
    box-shadow: var(--shadow-lg);

    .card__img::after {
      opacity: 1;
    }
  }

  .card__img {
    position: relative;

    &::after { // overlay layer
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: alpha(var(--color-black), 0.6);
      opacity: 0;
      transition: opacity 0.2s;
    }
  }
}

.card__link {
  color: inherit;

  .img,
  .bg-img {
    transition: all 2.5s var(--cubic-out);
    will-change: transform;
  }

  i,
  svg {
    transition: all var(--duration-fast) var(--cubic-out);

    &:hover {
      transform: scale3d(1.4, 1.4, 1);
    }
  }

  &:hover {
    i,
    svg {
      transform: scale3d(1.2, 1.2, 1);
      transition: all var(--duration) var(--cubic-in);
    }

    .img,
    .bg-img {
      transform: rotate(2deg) scale3d(1.2, 1.2, 1);
      transition: all 5s var(--cubic-in);
    }
  }
}

.card__link-icon {
  position: absolute;
  z-index: 1;
  width: 64px;
  height: 64px;
  top: calc(50% - 32px);
  left: calc(50% - 32px);
  // background-color: var(--color-black);
  // border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.2s;

  .icon {
    display: block;
    width: 32px;
    height: 32px;
    color: var(--color-white); // icon color
  }
}

.card--is-link:hover .card__link-icon {
  opacity: 1;
}
