// --------------------------------

// (START) Global Editor code https://codyhouse.co/ds/globals/typography

// --------------------------------

:root {
  // font family
  --font-primary: SF Pro Text, sans-serif;
  --font-heading: SF Compact Display, sans-serif;
  --font-sf-pro-text: SF Pro Text, sans-serif;
  --font-nunito: Nunito, sans-serif;

  // body font size
  --text-base-size: 16px;

  // type scale
  --text-scale-ratio: 1.173160;
  --text-xs: calc(0.75 * var(--text-base-size));
  --text-sm: calc(0.875 * var(--text-base-size));
  --text-md: calc(1.125 * var(--text-base-size));
  --text-lg: calc(var(--text-md) * var(--text-scale-ratio));
  --text-xl: calc(var(--text-lg) * var(--text-scale-ratio));
  --text-xxl: calc(var(--text-xl) * var(--text-scale-ratio));
  --text-xxxl: calc(var(--text-xxl) * var(--text-scale-ratio));
  --text-xxxxl: calc(var(--text-xxxl) * var(--text-scale-ratio));

  // line-height
  --body-line-height: 1.5;
  --heading-line-height: 1.2;

  // capital letters - used in combo with the lhCrop mixin
  --font-primary-capital-letter: 1;
  --font-heading-capital-letter: 1;
}

@supports (--css: variables) {
  :root {
    @include breakpoint(md) {
      // --text-base-size: 24px;
      --text-scale-ratio: 1.254824;
    }
  }
}

// color
.color-text { color: var(--color-text); }

[data-theme] { color: var(--color-text); }

// --------------------------------

// (END) Global Editor Code

// --------------------------------
mark {
  background-color: alpha(var(--color-accent), 0.2);
  color: inherit;
}

.text-component {
  --line-height-multiplier: 1;
  --text-vspace-multiplier: 1;

  blockquote {
    padding-left: 1em;
    border-left: 4px solid var(--color-contrast-low);
  }

  hr {
    background: var(--color-contrast-low);
    height: 1px;
  }

  figcaption {
    font-size: var(--text-sm);
    color: var(--color-contrast-medium);
  }
}

a,
.link {
  color: inherit;
  font: inherit;
  text-decoration: none;

  // &:hover,
  // &:focus,
  // &:active {
  //   color: currentColor;
  // }
}

span {
  color: inherit;
  font: inherit;
}

label {
  color: var(--color-text);
  font-family: var(--font-primary);
  font-size: var(--text-base-size);
  font-weight: 500;
}

button {
  font: inherit;
}
