<section class="section bg-default margin-bottom-xxxl" data-theme="gray">
  <div class="section__inner container padding-y-xl">
    <div class="col-12 col-6@md">
      <div class="text-component">
        <h3 class="font-weight-bold text-xxl margin-bottom-lg">Want to write us or send mail?</h3>
        <p>
          You can reach Flight Hacks at the following address. <br>
          PO Box 533 <br>
          Mt Hawthorn WA 6915
        </p>
      </div>
    </div>
    <div class="col-12 col-6@md"></div>
  </div>
</section>