/* BEM support Func
 -------------------------- */
/* Element Chalk Variables */
/* Transition
-------------------------- */
/* Color
-------------------------- */
/* 53a8ff */
/* 66b1ff */
/* 79bbff */
/* 8cc5ff */
/* a0cfff */
/* b3d8ff */
/* c6e2ff */
/* d9ecff */
/* ecf5ff */
/* Link
-------------------------- */
/* Border
-------------------------- */
/* Fill
-------------------------- */
/* Typography
-------------------------- */
/* Size
-------------------------- */
/* z-index
-------------------------- */
/* Disable base
-------------------------- */
/* Icon
-------------------------- */
/* Checkbox
-------------------------- */
/* Radio
-------------------------- */
/* Select
-------------------------- */
/* Alert
-------------------------- */
/* MessageBox
-------------------------- */
/* Message
-------------------------- */
/* Notification
-------------------------- */
/* Input
-------------------------- */
/* Cascader
-------------------------- */
/* Group
-------------------------- */
/* Tab
-------------------------- */
/* Button
-------------------------- */
/* cascader
-------------------------- */
/* Switch
-------------------------- */
/* Dialog
-------------------------- */
/* Table
-------------------------- */
/* Pagination
-------------------------- */
/* Popup
-------------------------- */
/* Popover
-------------------------- */
/* Tooltip
-------------------------- */
/* Tag
-------------------------- */
/* Tree
-------------------------- */
/* Dropdown
-------------------------- */
/* Badge
-------------------------- */
/* Card
-------------------------- */
/* Slider
-------------------------- */
/* Steps
-------------------------- */
/* Menu
-------------------------- */
/* Rate
-------------------------- */
/* DatePicker
-------------------------- */
/* Loading
-------------------------- */
/* Scrollbar
-------------------------- */
/* Carousel
-------------------------- */
/* Collapse
-------------------------- */
/* Transfer
-------------------------- */
/* Header
  -------------------------- */
/* Footer
-------------------------- */
/* Main
-------------------------- */
/* Timeline
-------------------------- */
/* Backtop
-------------------------- */
/* Link
-------------------------- */
/* Calendar
-------------------------- */
/* Form
-------------------------- */
/* Avatar
-------------------------- */
/* Break-point
-------------------------- */
/* Break-points
 -------------------------- */
/* Scrollbar
 -------------------------- */
/* Placeholder
 -------------------------- */
/* BEM
 -------------------------- */
/* Element Chalk Variables */
/* Transition
-------------------------- */
/* Color
-------------------------- */
/* 53a8ff */
/* 66b1ff */
/* 79bbff */
/* 8cc5ff */
/* a0cfff */
/* b3d8ff */
/* c6e2ff */
/* d9ecff */
/* ecf5ff */
/* Link
-------------------------- */
/* Border
-------------------------- */
/* Fill
-------------------------- */
/* Typography
-------------------------- */
/* Size
-------------------------- */
/* z-index
-------------------------- */
/* Disable base
-------------------------- */
/* Icon
-------------------------- */
/* Checkbox
-------------------------- */
/* Radio
-------------------------- */
/* Select
-------------------------- */
/* Alert
-------------------------- */
/* MessageBox
-------------------------- */
/* Message
-------------------------- */
/* Notification
-------------------------- */
/* Input
-------------------------- */
/* Cascader
-------------------------- */
/* Group
-------------------------- */
/* Tab
-------------------------- */
/* Button
-------------------------- */
/* cascader
-------------------------- */
/* Switch
-------------------------- */
/* Dialog
-------------------------- */
/* Table
-------------------------- */
/* Pagination
-------------------------- */
/* Popup
-------------------------- */
/* Popover
-------------------------- */
/* Tooltip
-------------------------- */
/* Tag
-------------------------- */
/* Tree
-------------------------- */
/* Dropdown
-------------------------- */
/* Badge
-------------------------- */
/* Card
-------------------------- */
/* Slider
-------------------------- */
/* Steps
-------------------------- */
/* Menu
-------------------------- */
/* Rate
-------------------------- */
/* DatePicker
-------------------------- */
/* Loading
-------------------------- */
/* Scrollbar
-------------------------- */
/* Carousel
-------------------------- */
/* Collapse
-------------------------- */
/* Transfer
-------------------------- */
/* Header
  -------------------------- */
/* Footer
-------------------------- */
/* Main
-------------------------- */
/* Timeline
-------------------------- */
/* Backtop
-------------------------- */
/* Link
-------------------------- */
/* Calendar
-------------------------- */
/* Form
-------------------------- */
/* Avatar
-------------------------- */
/* Break-point
-------------------------- */
.el-alert {
  width: 100%;
  padding: 8px 16px;
  margin: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 4px;
  position: relative;
  background-color: #fff;
  overflow: hidden;
  opacity: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-transition: opacity .2s;
  transition: opacity .2s; }
  .el-alert.is-light .el-alert__closebtn {
    color: #babdc5; }
  .el-alert.is-dark .el-alert__closebtn {
    color: #fff; }
  .el-alert.is-dark .el-alert__description {
    color: #fff; }
  .el-alert.is-center {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
  .el-alert--success.is-light {
    background-color: #edfbed;
    color: #49da4e; }
    .el-alert--success.is-light .el-alert__description {
      color: #49da4e; }
  .el-alert--success.is-dark {
    background-color: #49da4e;
    color: #fff; }
  .el-alert--info.is-light {
    background-color: #eef3ff;
    color: #528bff; }
  .el-alert--info.is-dark {
    background-color: #528bff;
    color: #fff; }
  .el-alert--info .el-alert__description {
    color: #528bff; }
  .el-alert--warning.is-light {
    background-color: #fffaeb;
    color: #ffd138; }
    .el-alert--warning.is-light .el-alert__description {
      color: #ffd138; }
  .el-alert--warning.is-dark {
    background-color: #ffd138;
    color: #fff; }
  .el-alert--error.is-light {
    background-color: #ffeded;
    color: #fa4c4c; }
    .el-alert--error.is-light .el-alert__description {
      color: #fa4c4c; }
  .el-alert--error.is-dark {
    background-color: #fa4c4c;
    color: #fff; }
  .el-alert__content {
    display: table-cell;
    padding: 0 8px; }
  .el-alert__icon {
    font-size: 16px;
    width: 16px; }
    .el-alert__icon.is-big {
      font-size: 28px;
      width: 28px; }
  .el-alert__title {
    font-size: 13px;
    line-height: 18px; }
    .el-alert__title.is-bold {
      font-weight: bold; }
  .el-alert .el-alert__description {
    font-size: 12px;
    margin: 5px 0 0 0; }
  .el-alert__closebtn {
    font-size: 12px;
    opacity: 1;
    position: absolute;
    top: 12px;
    right: 15px;
    cursor: pointer; }
    .el-alert__closebtn.is-customed {
      font-style: normal;
      font-size: 13px;
      top: 9px; }

.el-alert-fade-enter,
.el-alert-fade-leave-active {
  opacity: 0; }
