/* BEM support Func
 -------------------------- */
/* Element Chalk Variables */
/* Transition
-------------------------- */
/* Color
-------------------------- */
/* 53a8ff */
/* 66b1ff */
/* 79bbff */
/* 8cc5ff */
/* a0cfff */
/* b3d8ff */
/* c6e2ff */
/* d9ecff */
/* ecf5ff */
/* Link
-------------------------- */
/* Border
-------------------------- */
/* Fill
-------------------------- */
/* Typography
-------------------------- */
/* Size
-------------------------- */
/* z-index
-------------------------- */
/* Disable base
-------------------------- */
/* Icon
-------------------------- */
/* Checkbox
-------------------------- */
/* Radio
-------------------------- */
/* Select
-------------------------- */
/* Alert
-------------------------- */
/* MessageBox
-------------------------- */
/* Message
-------------------------- */
/* Notification
-------------------------- */
/* Input
-------------------------- */
/* Cascader
-------------------------- */
/* Group
-------------------------- */
/* Tab
-------------------------- */
/* Button
-------------------------- */
/* cascader
-------------------------- */
/* Switch
-------------------------- */
/* Dialog
-------------------------- */
/* Table
-------------------------- */
/* Pagination
-------------------------- */
/* Popup
-------------------------- */
/* Popover
-------------------------- */
/* Tooltip
-------------------------- */
/* Tag
-------------------------- */
/* Tree
-------------------------- */
/* Dropdown
-------------------------- */
/* Badge
-------------------------- */
/* Card
-------------------------- */
/* Slider
-------------------------- */
/* Steps
-------------------------- */
/* Menu
-------------------------- */
/* Rate
-------------------------- */
/* DatePicker
-------------------------- */
/* Loading
-------------------------- */
/* Scrollbar
-------------------------- */
/* Carousel
-------------------------- */
/* Collapse
-------------------------- */
/* Transfer
-------------------------- */
/* Header
  -------------------------- */
/* Footer
-------------------------- */
/* Main
-------------------------- */
/* Timeline
-------------------------- */
/* Backtop
-------------------------- */
/* Link
-------------------------- */
/* Calendar
-------------------------- */
/* Form
-------------------------- */
/* Avatar
-------------------------- */
/* Break-point
-------------------------- */
/* Break-points
 -------------------------- */
/* Scrollbar
 -------------------------- */
/* Placeholder
 -------------------------- */
/* BEM
 -------------------------- */
/* Element Chalk Variables */
/* Transition
-------------------------- */
/* Color
-------------------------- */
/* 53a8ff */
/* 66b1ff */
/* 79bbff */
/* 8cc5ff */
/* a0cfff */
/* b3d8ff */
/* c6e2ff */
/* d9ecff */
/* ecf5ff */
/* Link
-------------------------- */
/* Border
-------------------------- */
/* Fill
-------------------------- */
/* Typography
-------------------------- */
/* Size
-------------------------- */
/* z-index
-------------------------- */
/* Disable base
-------------------------- */
/* Icon
-------------------------- */
/* Checkbox
-------------------------- */
/* Radio
-------------------------- */
/* Select
-------------------------- */
/* Alert
-------------------------- */
/* MessageBox
-------------------------- */
/* Message
-------------------------- */
/* Notification
-------------------------- */
/* Input
-------------------------- */
/* Cascader
-------------------------- */
/* Group
-------------------------- */
/* Tab
-------------------------- */
/* Button
-------------------------- */
/* cascader
-------------------------- */
/* Switch
-------------------------- */
/* Dialog
-------------------------- */
/* Table
-------------------------- */
/* Pagination
-------------------------- */
/* Popup
-------------------------- */
/* Popover
-------------------------- */
/* Tooltip
-------------------------- */
/* Tag
-------------------------- */
/* Tree
-------------------------- */
/* Dropdown
-------------------------- */
/* Badge
-------------------------- */
/* Card
-------------------------- */
/* Slider
-------------------------- */
/* Steps
-------------------------- */
/* Menu
-------------------------- */
/* Rate
-------------------------- */
/* DatePicker
-------------------------- */
/* Loading
-------------------------- */
/* Scrollbar
-------------------------- */
/* Carousel
-------------------------- */
/* Collapse
-------------------------- */
/* Transfer
-------------------------- */
/* Header
  -------------------------- */
/* Footer
-------------------------- */
/* Main
-------------------------- */
/* Timeline
-------------------------- */
/* Backtop
-------------------------- */
/* Link
-------------------------- */
/* Calendar
-------------------------- */
/* Form
-------------------------- */
/* Avatar
-------------------------- */
/* Break-point
-------------------------- */
.el-timeline-item {
  position: relative;
  padding-bottom: 20px; }
  .el-timeline-item__wrapper {
    position: relative;
    padding-left: 28px;
    top: -3px; }
  .el-timeline-item__tail {
    position: absolute;
    left: 4px;
    height: 100%;
    border-left: 2px solid rgba(0, 0, 0, 0.15); }
  .el-timeline-item__icon {
    color: #fff;
    font-size: 14px; }
  .el-timeline-item__node {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.15);
    border-radius: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    .el-timeline-item__node--normal {
      left: -1px;
      width: 12px;
      height: 12px; }
    .el-timeline-item__node--large {
      left: -2px;
      width: 14px;
      height: 14px; }
    .el-timeline-item__node--primary {
      background-color: #13c3c9; }
    .el-timeline-item__node--success {
      background-color: #49da4e; }
    .el-timeline-item__node--warning {
      background-color: #ffd138; }
    .el-timeline-item__node--danger {
      background-color: #fa4c4c; }
    .el-timeline-item__node--info {
      background-color: #528bff; }
  .el-timeline-item__dot {
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .el-timeline-item__content {
    color: #050b24; }
  .el-timeline-item__timestamp {
    color: #050b24;
    line-height: 1;
    font-size: 14px; }
    .el-timeline-item__timestamp.is-top {
      margin-bottom: 8px;
      padding-top: 4px; }
    .el-timeline-item__timestamp.is-bottom {
      margin-top: 8px; }
