{% import "macros/content.njk" as marco1 %}

{% set contactForm = {
  action: '/abc',
  token: '',
  sectionItems: [
    {
      title: 'Billing information',
      icon: '',
      stepItems: [
        {
          fields: [
            {
              label: 'First Name',
              value: 'first_name',
              type: 'text',
              validation: [
                { required: true, message: 'Please input First name', trigger: 'blur' },
                { min: 3, max: 15, message: 'Length should be 3 to 15', trigger: 'blur' }
              ],
              fieldClass: 'col-12 col-6@md'
            },
            {
              label: 'Last Name',
              value: 'last_name',
              type: 'text',
              validation: [
                { required: true, message: 'Please input Last name', trigger: 'blur' },
                { min: 3, max: 15, message: 'Length should be 3 to 15', trigger: 'blur' }
              ],
              fieldClass: 'col-12 col-6@md'
            },
            {
              label: 'Componay name (optional)',
              value: 'last_name',
              type: 'text',
              fieldClass: 'col-12 col-6@md'
            },
            {
              label: 'Country',
              value: 'country',
              type: 'select',
              options: [
                {
                  label: 'Option 1',
                  value: 'option_1'
                },
                {
                  label: 'Option 2',
                  value: 'option_2'
                },
                {
                  label: 'Option 3',
                  value: 'option_3'
                }
              ],
              validation: [
                { required: true, message: '', trigger: 'change' }
              ],
              fieldClass: 'col-12 col-6@md'
            },
            {
              label: 'Town/City',
              value: 'town_city',
              type: 'text',
              validation: [
                { required: true, message: 'Please input Town/City', trigger: 'blur' },
                { min: 3, max: 15, message: 'Length should be 3 to 15', trigger: 'blur' }
              ],
              fieldClass: 'col-12 col-6@md'
            },
            {
              label: 'Phone',
              value: 'phone',
              type: 'other_number',
              validation: [
                { required: true, message: 'Please input Phone Number', trigger: 'blur' },
                { min: 3, max: 15, message: 'Length should be 3 to 15', trigger: 'blur' }
              ],
              fieldClass: 'col-12 col-6@md'
            },
            {
              label: 'Height',
              value: 'height',
              type: 'other_number',
              validation: [
                { required: true, message: 'Please input Phone Number', trigger: 'blur' },
                { min: 1, max: 3, message: 'Length should be 1 to 3', trigger: 'blur' }
              ],
              fieldClass: 'col-12 col-4@md'
            },
            {
              label: 'Email Address',
              value: 'email',
              type: 'email',
              validation: [
                { required: true, message: 'Please input email address', trigger: 'blur' },
                { type: 'email', message: 'Please input correct email address', trigger: 'blur' }
              ],
              fieldClass: 'col-12 col-4@md'
            },
            {
              label: 'Age',
              value: 'age',
              type: 'age',
              fieldClass: 'col-12 col-4@md',
              validation: [
                { trigger: 'blur', minAge: '20' }
              ]
            }
          ]
        }
      ]
    },
    {
      title: 'Travellers information',
      icon: '',
      stepItems: [
        {
          subtitle: 'Traveller 1',
          fields: [
            {
              label: 'Email address of lead traveller',
              value: 'email_lead_traveller',
              type: 'email',
              validation: [
                { required: true, message: '', trigger: 'blur' },
                { type: 'email', message: 'Please input correct email address', trigger: 'blur' }
              ]
            },
            {
              label: 'Date Picker',
              value: 'date',
              type: 'date',
              fieldClass: 'col-12 col-6@md',
              validation: [
                {
                  required: true,
                  message: '',
                  trigger: 'change'
                }
              ]
            },
            {
              label: 'Gender',
              value: 'gender',
              type: 'select',
              fieldClass: 'col-12 col-6@md',
              options: [
                {
                  label: 'Male',
                  value: 'male'
                },
                {
                  label: 'Female',
                  value: 'female'
                }
              ],
              validation: [
                { required: true, message: '', trigger: 'change' }
              ]
            }
          ]
        },
        {
          subtitle: 'Traveller 2',
          fields: [
            {
              label: "Is there anything else you'd like us to know? Or do you have any special requests?",
              value: 'message',
              type: 'textarea',
              validation: [
                { required: true, message: '', trigger: 'blur' },
                { min: 20, message: '', trigger: 'blur' }
              ]
            },
            {
              value: 'activity_type',
              type: 'checkbox',
              options: [
                {
                  label: 'I have read and agree to Terms & Conditions &  Cancellation Policy',
                  name: 'agree'
                },
                {
                  label: 'Sign up for the Indotrek newsletter ',
                  name: 'signup'
                }
              ],
              layout: 'column',
              validation: [
                { required: true, message: '', trigger: 'change' }
              ]
            },
            {
              label: 'Email Address',
              value: 'email',
              type: 'email',
              validation: [
                { required: true, message: 'Please input email address', trigger: 'blur' },
                { type: 'email', message: 'Please input correct email address', trigger: 'blur' }
              ]
            }
          ]
        },
        {
          subtitle: 'Traveller 3',
          fields: [
            {
              label: 'Full Name',
              value: 'full_name',
              type: 'text',
              validation: [
                { required: true, message: 'Please input Activity name', trigger: 'blur' },
                { min: 3, max: 15, message: 'Length should be 3 to 15', trigger: 'blur' }
              ]
            },
            {
              label: 'Email Address',
              value: 'email',
              type: 'email',
              validation: [
                { required: true, message: 'Please input email address', trigger: 'blur' },
                { type: 'email', message: 'Please input correct email address', trigger: 'blur' }
              ]
            }
          ]
        }
      ]
    },
    {
      title: 'Special requests/ Extra information',
      icon: '',
      stepItems: [
        {
          fields: [
            {
              label: 'Last Name',
              value: 'last_name',
              type: 'text',
              validation: [
                { required: true, message: 'Please input Activity name', trigger: 'blur' },
                { min: 3, max: 15, message: 'Length should be 3 to 15', trigger: 'blur' }
              ]
            },
            {
              label: 'Email Address',
              value: 'email',
              type: 'email',
              validation: [
                { required: true, message: 'Please input email address', trigger: 'blur' },
                { type: 'email', message: 'Please input correct email address', trigger: 'blur' }
              ]
            }
          ]
        }
      ]
    },
    {
      title: 'Payment Detail',
      icon: '',
      stepItems: [
        {
          fields: [
            {
              label: 'Resource',
              value: 'payment_detail',
              type: 'radio',
              options: [
                {
                  label: 'Direct bank transfer'
                },
                {
                  label: 'Check payments'
                }
              ],
              layout: 'column',
              validation: [
                {
                  required: true,
                  message: '',
                  trigger: 'change'
                }
              ]
            }
          ]
        }
      ]
    }
  ]
} %}

{% set cardCTA = {
  title: 'Hilton Honors™ Surpass® Card from American Express',
  img: '/img/objects/credit-card-2.png',
  btn: {
    text: 'LEARN MORE',
    url: ''
  },
  info: [
    'Earn 125,000 Hilton Honors Bonus Points after you spend $2,000 in purchases within your first 3 months of Card Membership.',
    'Plus, earn a free weekend night after you spend $15,000 on purchases on your card in a calendar year.',
    '12X on qualifying purchases with hotels from the Hilton portfolio.',
    'Earn 6X Hilton Honors Bonus Points for each dollar of eligible purchases on your Card at U.S. restaurants, U.S. supermarkets, and U.S. gas stations.',
    'Annual Fee: $95',
    'For rates and fees of the Hilton Honors American Express Surpass® Card, please <a href="" class="text-color-primary font-weight-bold text-underline" >click here.</a>'
  ]
} %}

{% set content = {
  score: '<span>90</span> / 100',
  text: 'Flight Hacks <br>
        expert rating',
  desc: 'Antwerp is my home town, but unfortunately I’ve never found any hotels in the city that are remotely high-end or luxurious. There are a few boutique hotels around, but in my 32 years of existence, none of them have enticed me into a staycation.'
} %}

{% set rate_content = {
  img: '/img/objects/rate-stars.png',
  content: [
    { 
      score: '<span>0</span> / 20',
      title: 'Location & Cost'
    },
    { 
      score: '<span>0</span> / 20',
      title: 'Hotel Design'
    },
    { 
      score: '<span>0</span> / 20',
      title: 'Room Design & Amenities'
    },
    { 
      score: '<span>0</span> / 20',
      title: 'Service & Facilities'
    },
    { 
      score: '<span>0</span> / 20',
      title: 'Food & Beverage'
    }
  ]
} %}

{% set proCons = {
  pro: {
    title: 'Pro',
    items: [
      'Fantastic sign-up bonus',
      'Great every day earn rate',
      'Nice extra features'
    ]
  },
  cons: {
    title: 'Cons',
    items: [
      'Food wasn’t up to first-class standard',
      'Hard to redeem with points'
    ]
  }
} %}

{% set maxBox = {
  origin: '[-122.414, 37.776]',
  destination: '[-77.032, 38.913]'
} %}

<section class="section">
  <div class="section__inner container">
    <h1 class="font-weight-bold margin-bottom-xl">Components</h1>
    {% include "partials/home/1-showcase.njk" %}
    {% include "partials/home/2-card-slider.njk" %}
    {% include "partials/home/3-started.njk" %}


    {# score content #}
    <div class="margin-bottom-xl">
      {{ marco1.score_content(content) }}
    </div>
    {# score content #}

    {# rate stars #}
    {{ marco1.rate_stars(rate_content) }}
    {# rate stars #}

    {# pro cons section #}
    <div class="border border-default rounded-sm padding-y-md padding-x-md padding-x-xl@md margin-bottom-lg">
      {{ marco1.pro_cons_section(proCons) }}
    </div>
    {# pro cons section #}

    <map-box
      :origin="{{ maxBox.origin }}"
      :destination="{{ maxBox.destination }}"
      class="margin-bottom-lg"
    ></map-box>

    {% include "global/post-detail-slider.njk" %}

    {{ marco1.card_cta(cardCTA) }}

  </div>
</section>

{% include "partials/lounge-detail/1-showcase.njk" %}

<section class="section">
  <div class="section__inner container">
    <h2 class="font-weight-bold margin-bottom-xl">Base Form</h2>

    <base-form
      form-action="{{ contactForm.action }}"
      form-token="{{ contactForm.token }}"
      label-style="floating"
      label-position="top"
      :section-items="{{ contactForm.sectionItems | dump }}"
    >
      <template #btn-submit="props">
        <a href="" class="btn btn--primary text-uppercase padding-y-xxxs padding-x-xxl" @click.prevent="props.submitForm">Submit</a>
      </template>
      <template #btn-clear="props">
        <a href="" class="btn btn--accent padding-y-xxs text-color-default" @click.prevent="props.resetForm">Reset</a>
      </template>
      <template #thank-you>
        <div>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta laborum consectetur cumque facere error autem in ex? Esse fugiat quae veniam accusantium sit provident ipsa temporibus ducimus id? Tenetur, quasi!</p>
        </div>
      </template>
    </base-form>
  </div>
</section>
