<section class="section">
  <div class="section__inner container">
    <div class="grid grid-gap-md">
      <div class="col-12 col-8@lg order-3 order-1@lg">
        {% include "./3-primary.njk" %}
      </div>

      <div class="col-12 col-4@lg order-2">
        {% include "./4-sidebar.njk" %}
      </div>
    </div>
  </div>
</section>

