{% import "macros/content.njk" as marco1 %}

{% set cardCTA = {
  title: 'Hilton Honors™ Surpass® Card from American Express',
  img: '/img/objects/credit-card-2.png',
  btn: {
    text: 'LEARN MORE',
    url: ''
  },
  info: [
    'Earn 125,000 Hilton Honors Bonus Points after you spend $2,000 in purchases within your first 3 months of Card Membership.',
    'Plus, earn a free weekend night after you spend $15,000 on purchases on your card in a calendar year.',
    '12X on qualifying purchases with hotels from the Hilton portfolio.',
    'Earn 6X Hilton Honors Bonus Points for each dollar of eligible purchases on your Card at U.S. restaurants, U.S. supermarkets, and U.S. gas stations.',
    'Annual Fee: $95',
    'For rates and fees of the Hilton Honors American Express Surpass® Card, please <a href="" class="text-color-primary font-weight-bold text-underline" >click here.</a>'
  ]
} %}

{% set googleMap = 'https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3919.023381111921!2d106.72965611532008!3d10.80952099229904!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x317526213ac186a3%3A0xbf4cb430e0b5eea0!2sConceptual%20Studio!5e0!3m2!1sen!2s!4v1578555751376!5m2!1sen!2s' %}

<div class="card-showcase text-component text-md margin-bottom-xxxl">
  <img src="/img/objects/hotel-detail/post-1.jpg" alt="post-img" class="width-100%">

  <p>That all changed when Design Hotels announced a new member to the family called August.</p>

  <div class="margin-bottom-lg width-100% d-flex justify-content-center">
    {% include "global/instagram.njk" %}
  </div>

  <div class="margin-bottom-md crop crop--16:9 crop--fit">
    <iframe class="crop__content" src="{{ googleMap }}" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
  </div>

  <img src="/img/objects/hotel-detail/post-2.jpg" alt="post-img" class="width-100%">

  <p>August Hotel is in the Green quarter, bordering the Jewish quarter in Antwerp. It’s a beautiful area (lots of charming buildings), relatively quiet and with a great restaurant scene.</p>

  {% include "global/post-detail-slider.njk" %}

  <p>August Hotel is located in a former nunnery, and it’s a beautiful heritage building which has had a modern makeover which would make most hoteliers envious.</p>

  <img src="/img/objects/hotel-detail/post-3.jpg" alt="post-img" class="width-100%">

  <p>A convenient tram stop outside can take you anywhere you fancy!</p>

  <h3 class="font-weight-bold text-lg">Booking August Hotel</h3>

  <p>You can book direct, via Design hotels or of course via an OTA such as hotels.com (my preferred option). For some reason, I always find that Design hotels offer the most expensive pricing.</p>

  <p>If there’s no good deal booking direct, I always go via hotels.com because they have the best rewards program out of all OTA’s (10 nights = 1 night free).</p>

  <h3 class="font-weight-bold text-lg">August Hotel Antwerp Check-in</h3>

  <p>Check-in was quick and uneventful, the hotel has no key cards so you will have to do with a real key.</p>

  <h3 class="font-weight-bold text-lg">The Room</h3>

  <img src="/img/objects/hotel-detail/post-4.jpg" alt="post-img" class="width-100%">

  <p>Our room was on the first floor, overlooking the street. The designer of August has done a terrific job, incorporating a heritage building with modern design touches.</p>

  <img src="/img/objects/hotel-detail/post-5.jpg" alt="post-img" class="width-100%">

  <p>The bed was incredibly comfortable, and so were the pillows. Small touches such as USB chargers are a welcome sight to any traveller with international’s plugs.</p>

  <h3 class="font-weight-bold text-lg">August Restaurant & Bar</h3>

  <p>August has a well-regarded restaurant, but unfortunately it was closed when we stayed. The bar however, was serving snacks and cocktails which are well worth your time.</p>

  <img src="/img/objects/hotel-detail/post-6.jpg" alt="post-img" class="width-100%">

  <p>The bar is the piece de resistance of the hotel. Beautiful marble stone offset the coloured glass window from the old chapel.</p>
  
  <img src="/img/objects/hotel-detail/post-7.jpg" alt="post-img" class="width-100%">

  <p>If you’re after a bit of fresh air, next to the bar is a garden where you can sit and enjoy your drink.</p>

  {{ marco1.card_cta(cardCTA) }}

  <img src="/img/objects/hotel-detail/post-8.jpg" alt="post-img" class="width-100%">

  <p>In the garden, you will find a concrete cave which used to house the Maria statue and where the nuns used to burn candles.</p>

  <img src="/img/objects/hotel-detail/post-9.jpg" alt="post-img" class="width-100%">

  <p>It’s a pretty ugly structure, and it somewhat clashes with the rest of the hotel’s aesthetic. Since it’s heritage-listed, the hotel was not allowed to remove it so now it doubles as a great spot to have a few cocktails.</p>

  <img src="/img/objects/hotel-detail/post-10.jpg" alt="post-img" class="width-100%">

  <p>August Hotel In Conclusion</p>

  <p>Finally, there’s a hotel in my hometown, which I would be happy to recommend to anyone looking to visit the beautiful Belgian city of Antwerp (pro tip: skip Brussels, head to Antwerp).</p>

  <img src="/img/objects/hotel-detail/post-11.jpg" alt="post-img" class="width-100%">

  <p>It’s in a great location, and the whole project has been executed to perfection with great rooms, service and amenities.</p>

  <p>Check the latest prices here: <a href="" class="text-color-primary">August Hotel Antwerp</a></p>
</div>



