// .el-form-item {
//   padding: var(--space-md);
//   border: 2px solid var(--color-contrast-lower);
//   border-radius: var(--radius-lg);
// }

// .el-form-item__content {
//   font-size: inherit;
//   line-height: inherit;
// }

// .el-form-item__label {
//   display: flex;
//   align-items: center;
//   margin-bottom: var(--space-xs);
//   color: var(--color-primary);
//   font-size: var(--text-xs);
//   font-weight: bold;
//   line-height: 1;
//   text-transform: uppercase;
// }

// .el-input__inner,
// .el-textarea__inner {
//   padding: 0;
//   height: auto;
//   line-height: inherit;
//   border: 0;
//   background-color: transparent;
// }

// .el-form-item.is-required:not(.is-no-asterisk) > .el-form-item__label::before,
// .el-form-item.is-required:not(.is-no-asterisk) .el-form-item__label-wrap > .el-form-item__label::before {
//   display: none;
// }

// .el-form-item.is-required:not(.is-no-asterisk) > .el-form-item__label::after,
// .el-form-item.is-required:not(.is-no-asterisk) .el-form-item__label-wrap > .el-form-item__label::after {
//   content: '*';
//   color: var(--color-error);
//   margin-left: 4px;
// }
