// .hero__play > a {
//   @include breakpoint(lg) {
//     position: absolute;
//     top: 50%;
//     left: 0;
//     transform: translate(-50%, -50%);
//     z-index: 1;
//   }
// }

// .hero__image-wrapper {
//   @include breakpoint(lg, 'not all') {
//     .hero__play {
//       margin-right: 8px;
//     }

//     .hero__image {
//       flex: 1 0 calc(100% - 80px);
//       max-width: calc(100% - 80px);

//       img {
//         width: 100%;
//         max-height: 320px;
//         object-fit: cover;
//       }
//     }
//   }
// }

// .hero__background {
//   position: absolute;
//   top: calc(-1 * var(--main-header-height));
//   left: calc(-1 * var(--container-padding));
//   width: 100vw;
//   height: 100%;
//   z-index: -1;

//   @include breakpoint(lg) {
//     width: 80vw;
//     height: calc(100% + var(--main-header-height));
//   }

//   .background__overlay {
//     position: absolute;
//     top: 0;
//     left: 0;
//     width: 100%;
//     height: 100%;

//     @include gradient-directional(#f5f5f5 0%, rgba(248, 248, 248, 0) 112.32%, 180deg);
//   }

//   .background__image {
//     width: 100%;
//     height: 100%;
//     object-fit: cover;
//   }
// }
