.language-picker__button {
  padding: 0 !important;
  border: 0 !important;
  border-radius: 0;
  background: transparent !important;
  box-shadow: none !important;
}

.language-picker--mobile__list {
  display: flex;
  margin: 0 var(--n-space-sm);

  li {
    flex: 1 0;
    margin: 0 var(--space-sm);

    > a {
      // display: flex;
      // align-items: center;
      filter: grayscale(1) opacity(0.5);
      justify-content: center;
      height: 72px;
      color: currentColor !important;
      font-weight: bold;
      text-transform: uppercase;
      text-decoration: none !important;
      border-bottom: 4px solid var(--color-contrast-low);
      background-color: transparent !important;

      &::after {
        display: none;
      }

      &[aria-selected=true],
      &:hover {
        filter: none;
        border-bottom-color: var(--color-primary);
      }
    }
  }
}
