// .card--property {
//   > .card__inner {
//     transition: all 0.3s ease-in-out;
//   }

//   &:hover > .card__inner {
//     transform: translateY(10px);
//     box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1), 0 2px 6px rgba(0, 0, 0, 0.13);
//   }
// }

.property__status {
  display: flex;
  align-items: center;
  margin-bottom: var(--space-xs);

  > i {
    margin-right: var(--space-xxxs);
    width: 8px;
    height: 12px;
    border-radius: 2px;
  }

  > span {
    font-size: var(--text-xs);
    font-weight: bold;
    text-transform: uppercase;
  }

  &.status--funding {
    color: var(--color-success);

    > i {
      background-color: var(--color-success);
    }
  }

  &.status--pre-book {
    color: var(--color-info);

    > i {
      background-color: var(--color-info);
    }
  }

  &.status--fully-funded {
    color: var(--color-error);

    > i {
      background-color: var(--color-error);
    }
  }
}

.property__infoGrid--item {
  padding-left: var(--space-xxs);
  height: 100%;
  border-left: 2px solid var(--color-contrast-lower);
}

.property__infoGrid--itemTitle {
  display: flex;
  align-items: flex-end;

  > .el-tooltip {
    flex: 1 0 12px;
    margin-bottom: 3px;
    max-width: 12px;
  }
}

.property__specs > li {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;

  &::before {
    content: '';
    position: absolute;
    width: 100%;
    border: 0.5px dashed var(--color-contrast-lower);
    border-left: 0;
    border-right: 0;
    z-index: 0;
  }

  > .property__specsTitle,
  > .property__specsValue {
    position: relative;
    background-color: var(--color-white);
  }

  > .property__specsTitle {
    display: flex;
    align-items: center;
    padding-right: var(--space-xs);
  }

  > .property__specsValue {
    padding-left: var(--space-xs);
  }
}

.property-details__cta {
  @include breakpoint(md, 'not all') {
    position: fixed;
    bottom: 0;
    left: 0;
    padding: var(--space-unit) var(--space-md);
    width: 100%;
    background-color: var(--color-bg);
    z-index: 99;
  }
}

.property-details__nav {
  position: relative;
  height: 72px;

  > ul {
    overflow: auto;
  }

  li {
    flex: 1 0 auto;
    margin-right: var(--space-md);
    // max-width: 100%;

    a {
      position: relative;
      min-width: 70px;
      white-space: nowrap;
      text-align: center;

      &.is-active::after {
        content: '';
        width: 100%;
        height: 3px;
        display: block;
        position: absolute;
        top: calc(100% - 3px); // subtract 3px for height
        left: 0;
        background: var(--color-primary);
      }

      &:hover,
      &.is-active {
        color: var(--text-color-default) !important;
      }
    }

    &:last-child a {
      margin-right: 0;
    }
  }

  @include breakpoint(sm, 'not all') {
    margin-top: var(--space-unit);
    padding: 0 var(--space-md);
  }
}

.property-details__navWrapper {
  padding-top: 88px;
  background-color: var(--color-bg);

  @include breakpoint(sm) {
    padding-top: 72px;
    background-color: unset;
  }
}

#details-nav-trigger {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 98;

  @include breakpoint(sm, 'not all') {
    .container {
      width: calc(100% - 2 * var(--space-unit)) !important;
      border-radius: var(--radius);
    }
  }
}
