.top-0 {
  top: 0;
}

.bottom-0 {
  bottom: 0;
}

.right-0 {
  right: 0;
}

.card-dots-top {
  top: var(--n-space-md);
  left: var(--n-space-sm);
  z-index: 0;
}

.z-index-1 {
  z-index: 1;
}

.z-index-2 {
  z-index: 2;
}

.z-index-n-1 {
  z-index: -1;
}

.fly-box {
  min-height: 450px;

  .fly-thumb {
    top: -65%;
    left: 0;
  }
}

.section-as-seen {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: var(--space-md);

  @include breakpoint(md) {
    grid-template-columns: repeat(6, 1fr);
    column-gap: var(--space-md);
  }

  .seen-box {
    height: 96px;
  }
}