.icon--how {
  padding: var(--space-md);
  width: 144px;
  height: 144px;
  border-radius: 50%;
  background-color: var(--color-bg);

  > span {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: var(--space-md);
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: var(--color-white);
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1), 0 2px 6px rgba(0, 0, 0, 0.13);
  }

  &.icon--lg {
    @include breakpoint(md) {
      padding: var(--space-xl);
      width: 288px;
      height: 288px;
    }
  }

  .icon--how__progressText {
    position: absolute;
    top: 50%;
    left: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 10px;
    font-weight: bold;
    line-height: 1;
    transform: translate(-50%, -50%);
  }
}
