.section--ready__decor {
  position: relative;

  @include breakpoint(lg) {
    position: absolute;
    max-width: 20%;
    height: 100%;
  }
}

.section--ready__decor--left {
  float: right;
  right: 0;
  margin-top: var(--n-space-xxxl);
  // margin-bottom: var(--space-xl);

  @include breakpoint(lg) {
    float: unset;
    top: var(--n-space-lg);
    right: unset;
    left: 0;
    margin: 0;
  }
}

.section--ready__decor--right {
  left: 0;
  // margin-top: var(--space-xl);
  margin-bottom: var(--n-space-xxxl);

  @include breakpoint(lg) {
    right: 0;
    bottom: var(--n-space-lg);
    left: unset;
    margin: 0;
  }
}

.section--propertyDetails {
  @include breakpoint(sm, 'not all') {
    background-color: var(--color-bg);

    > .section__inner {
      margin-top: var(--space-unit);
      padding: var(--space-lg);
      width: calc(100% - 2 * var(--space-unit)) !important;
      border-radius: var(--radius);
    }

    &:last-child > .section__inner {
      margin-bottom: var(--space-unit);
    }
  }
}

.section--mission {
  .section__decor {
    position: absolute;
    top: 0;

    &:first-child {
      left: 0;
    }

    &:nth-child(2) {
      right: 0;
    }

    @include breakpoint(md, 'not all') {
      display: none;
    }
  }
}
